@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="/Student/GetAll" class="btn btn-danger m-3 ">GetAll</a>
        <a href="/Student/Delete" class="btn btn-danger  m-3">Delete</a>
        <a href="/Student/Create" class="btn btn-danger  m-3">Create</a>
        <a href="/Student/Update" class="btn btn-danger  m-3">Update</a>
    </header>
    <main>
        <section class=" content offset-md-1">
            Delete Student ????
        </section>
    </main>
    <footer class="bg-primary text-center "> @DateTime.Now</footer>
</body>
</html>
